@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");

:root {
	--background: #ffffd0;
	--text-color: #111118;
	--imdb: #e4160d;
	--metascore: #177a7d;
	--highlight: rgba(0, 0, 0, 0.05);
}

body {
	font-family: Space Mono, "Courier New", Courier, monospace;
	font-size: 18px;
	line-height: 1.5;

	background: var(--background);
	color: var(--text-color);
	margin: 40px auto 40px auto;
	width: 960px;
}

header {
	padding: 24px;
  background: var(--background);
	border-bottom: 3px solid var(--text-color);

	display: flex;
	justify-content: space-between;
	align-items: center;

  position: sticky;
  top: 0;
}

span {
	margin: 0 10px;
}
span.imdb {
	color: var(--imdb);
}
span.metascore {
  color: var(--metascore);
}

text {
  dominant-baseline: middle;
  width: 600px;
}

text.title {
  font-weight: 700;
}